.carousel {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.image {
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .imageWrapper {
        max-width: 480px;
        max-height: 720px;
    }
}

.swiper-button-next, .swiper-button-prev {
    color: var(--swiper-navigation-color);
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color);
}